<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mubank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-label position="floating">
        Login
      </ion-label>
      <ion-input [(ngModel)]="login"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Senha
      </ion-label>
      <ion-input [(ngModel)]="senha" type="password"></ion-input>
    </ion-item>
    <div>
      <ion-button color="success" size="block">Entrar</ion-button>
    </div>
    <div>{{ login }}</div>
  </div>
</ion-content>
